{% extends "layout.html" %}
{% block content %}
    <div class="about-section">
        <div class="more-about">
            <div class="abouts">
                <h1>Welcome to Dish Share</h1>
                <p>At Dish Share, we're not just building a recipe sharing app, 
                we're crafting an experience that blends passion for food with the excitement of technology. 
                This project isn't just a requirement, 
                it's a labor of love and a testament to the skills I've 
                honed during my time at ALX.</p>
            </div>
            <div class="abouts">
                <h1>Our Journey</h1>
                <p>This project is more than a portfolio piece, 
                   it's a reflection of our journey and the fusion of our love 
                   for food and technology. Inspired by the joy of cooking and 
                   a desire to put our skills to the test, 
                   we embarked on the exciting task of creating 
                   our very own web app.</p>
            </div>
            <div class="abouts">
                <h1>The Inspiration Behind Dish Share</h1>
                <p>Dish Share was born from my love for coding and cooking. 
                   Imagine it as a tasty blend of tech and taste. As a student at ALX, 
                   I wanted to prove my coding chops by building something real and delicious.
                   So, I set out to create a web app from scratch. 
                   Think Python, Flask, HTML, CSS, JavaScript - the whole coding kitchen. 
                   Dish Share is the result, where every line of code is like 
                   crafting a perfect recipe. It's not just about sharing recipes, 
                   it's about sharing the journey of turning code into something practical and user-friendly. 
                   Come join me at the intersection of coding and culinary passion.</p>
            </div>
            <div class="abouts">
                <h1>Explore Our Code</h1>
                <p>This project is open source, and you can find our code on <a href="https://github.com/Elbadil/Dish_Share">GitHub</a>. 
                   Feel free to explore, contribute, or simply marvel at the magic 
                   happening behind the scenes.</p>
            </div>
        </div>
    </div>
{% endblock content %}