{% extends "layout.html" %}
{% block content %}
    <div class="feed-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% for recipe in recipes.items %}
        <article class="media content-section">
            <div class="media-body">
                <a href="{{ url_for('user_recipes', username=recipe.user.username) }}">
                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + recipe.user.image_file) }}">
                </a>
                <div class="article-metadata">
                    <div class="name-date">
                        <a class="mr-2" href="{{ url_for('user_recipes', username=recipe.user.username) }}">{{ recipe.user.username }}</a>
                        <small class="text-muted">{{ recipe.created_at.strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>
            </div>
            <div class="title-description">
                <a class="article-title" href="{{ url_for('recipe', recipe_id=recipe.id) }}"><h1 class="main-dish">{{ recipe.title }}</h1></a>
                <p class="article-content">{{ recipe.description }} <a class="full-link" href="{{ url_for('recipe', recipe_id=recipe.id) }}">Full Recipe</a>
                </p>
                {% if recipe.image_file %}
                <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
                    <img class="feed-img" src="{{ url_for('static', filename='images/' + recipe.image_file) }}">
                </a>
                {% endif %}
            </div>
            
        </article>
        {% endfor %}
        <!-- left_edge=1, right_edge=1, left_current=1, right_current=2 -->
        <!-- Recipe Feed buttom Pages -->
        <div class="pagination-container">
        {% for page_num in recipes.iter_pages() %}
            {% if page_num %}
                {% if recipes.page == page_num %}
                    <a class="current-btn" href="{{ url_for('recipe_feed', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="add-btn next" href="{{ url_for('recipe_feed', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock content %}
