<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Share</title>
    <link rel="icon" type="images/png" href="{{ url_for('static', filename='images/icon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
    <header>
        <div class="header-content">
            <a class="logo" href="{{ url_for('home') }}">Dish Share<img class="logo-img" src="{{ url_for('static', filename='images/logo-img-1.png')}}"></a>
        </div>
        <nav class="nav-bar">
            <a class="active" href="{{ url_for('home') }}">Home</a>
            <!-- <a href="{{ url_for('recipe_feed') }}">Recipe Feed</a> -->
            <a href="{{ url_for('about') }}">About</a> 
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('account') }}">Account</a>
                <a href="{{ url_for('new_recipe') }}">Add a Recipe</a>
                <a href="{{ url_for('user_recipes', username=current_user.username) }}">My Recipes</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Sign In</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    <div class="introduction">
        <div class="landing-left">
            <h1 class="first-title">Where Culinary Creativity</h1>
            <h1 class="second-title">Finds Its Community.</h1>
            <p>Welcome to Dish Share, the ultimate culinary hub where food enthusiasts unite!
                Connect with like-minded individuals, explore diverse cuisines, and embark on a culinary journey like never before.
            </p>
            <div class="landing-buttons">
                <form action="{{ url_for('home') }}" method="GET">
                    <button type="submit" class="get-started">Explore a World of Tastes</button>
                </form>
                <form action="{{ url_for('new_recipe') }}" method="GET">
                    <button type="submit" class="share-recipe">Inspire with Your Recipes</button>
                </form>
            </div>   
        </div>
        <div class="landing-right">
            <img class="landing-img" src="{{ url_for('static', filename='/images/Intro-pic4.jpg')}}">
        </div>
    </div>
    <div class="services">
        <div class="service">
            <div class="service-left">
                <img class="service-img" src="{{ url_for('static', filename='images/service-1.jpg')}}">
            </div>
            <div class="service-right">
                <h1>Discover Unique Recipes</h1>
                <p>Dive into a treasure trove of culinary creativity! 
                    Dish Share offers a vast collection of diverse recipes 
                    to inspire your next kitchen adventure. 
                    From international delights to homegrown favorites, 
                    explore a world of flavors right at your fingertips.</p>
            </div>
        </div>
        <div class="service">
            <div class="service-left-2">
                <h1>Share Your Culinary Masterpieces</h1>
                <p>Your kitchen, your rules! Share your favorite recipes with the Dish Share 
                    community and let your culinary creativity shine. 
                    Whether you're a seasoned chef or a passionate home cook, 
                    our platform is the perfect canvas to showcase your gastronomic delights.</p>
            </div>
            <div class="service-right-2">
                <img class="service-img" src="{{ url_for('static', filename='images/service-2.jpg')}}">
            </div>
        </div>
        <div class="service">
            <div class="service-left">
                <img class="service-img" src="{{ url_for('static', filename='images/taking-pics.jpg')}}">
            </div>
            <div class="service-right">
                <h1>Stay Inspired</h1>
                <p>Elevate your cooking game with a constant stream of fresh ideas. 
                    Dish Share is your go-to source for discovering and sharing 
                    unique recipes, keeping your culinary journey 
                    exciting and full of delicious surprises.</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="rights">
            <small>©2023 Dish Share | Recipe Sharing App, Adil El Bali. All rights reserved.</small>
        </div>
        <div>
            <ul class="socials">
                <li><a href="https://github.com/Elbadil"><img class="socials-logo" src="{{ url_for('static', filename='images/github-logo.png')}}" alt="github"></a></li>
                <li><a href="https://twitter.com/Adil_ElBali"><img class="socials-logo-x" src="{{ url_for('static', filename='images/x-logo.png')}}" alt="twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/adil-el-bali/"><img class="socials-logo" src="{{ url_for('static', filename='images/link-logo.png')}}" alt="linkedin"></a></li>
            </ul>
        </div>
        <div class="credits">
            <small>Dishes Pictures By <a href="https://www.freepik.com">Freepik</a> | External Recipes By <a href="https://spoonacular.com/food-api">Spoonacular</a></small>
        </div>
    </footer>
</body>
</html>