<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>{{ title }} | Dish Share</title>
    {% else %}
    <title>Dish Share</title>
    {% endif %}
    <link rel="icon" type="images/png" href="{{ url_for('static', filename='images/icon.png')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/account.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/feed.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css') }}">
  </head>
  <body>
        <header>
            <div class="header-content">
                <a class="logo" href="{{ url_for('index') }}">Dish Share<img class="logo-img" src="{{ url_for('static', filename='images/logo-img-1.png')}}"></a>
                <form method="POST" action="/" class="search-bar">
                    <input type="text" name="search_query" placeholder="Search for Recipes">
                    <button type="submit"><img src="{{ url_for('static', filename='images/search-logo.png') }}"></button>
                </form>
            </div>
            <nav class="nav-bar">
                <a class="active" href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('recipe_feed') }}">Recipe Feed</a>
                <a href="{{ url_for('about') }}">About</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('account') }}">Account</a>
                    <a href="{{ url_for('new_recipe') }}">Add a Recipe</a>
                    <a href="{{ url_for('user_recipes', username=current_user.username) }}">My Recipes</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Sign In</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </header>
            {% block content %}{% endblock %}
        <footer>
            <div class="rights">
                <small>©2023 Dish Share | Recipe Sharing App, Adil El Bali. All rights reserved.</small>
            </div>
            <div>
                <ul class="socials">
                    <li><a href="https://github.com/Elbadil"><img class="socials-logo" src="{{ url_for('static', filename='images/github-logo.png')}}" alt="github"></a></li>
                    <li><a href="https://twitter.com/Adil_ElBali"><img class="socials-logo-x" src="{{ url_for('static', filename='images/x-logo.png')}}" alt="twitter"></a></li>                    <li><a href="https://www.linkedin.com/in/adil-el-bali/"><img class="socials-logo" src="{{ url_for('static', filename='images/link-logo.png')}}" alt="linkedin"></a></li>
                </ul>
            </div>
            <div class="credits">
                <small>Dishes Pictures By <a href="https://www.freepik.com">Freepik</a> | External Recipes By <a href="https://spoonacular.com/food-api">Spoonacular</a></small>
            </div>
        </footer>
  </body>
</html>