{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add A Recipe</legend>
            <!-- Title -->
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Descripton -->
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div><hr>
            <!-- Ingredients -->
            <div class="form-group">
                {{ form.ingredients.label(class="form-control-label") }}
                <div id="ingredient-list" data-initial-count="{{ form.ingredients | length }}">
                    {% for ingredient in form.ingredients %}
                        {{ ingredient['ingredient'](class="form-control form-control-lg") }}<br>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-outline-info" id="add-ingredient-btn">Add Ingredient</button>
            <hr>
            <!-- Instructions -->
            <div class="form-group">
                {{ form.instructions.label(class="form-control-label") }}
                <div id="instruction-list" data-initial-count="{{ form.instructions | length }}">
                    {% for instruction in form.instructions %}
                        <h6 id="steps" data-step-count="{{ loop.index|string }}" >Step {{ loop.index|string }}</h6>
                        {{ instruction['instruction'](class="form-control form-control-lg") }}<br>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-outline-info" id="add-instruction-btn">Add Instruction</button><hr>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            const initialIngredientCount = $("#ingredient-list").data("initial-count");
            let ingredientCount = initialIngredientCount;
            // Add Ingredient
            $("#add-ingredient-btn").click(function () {
                const ingredientList = $("#ingredient-list");
                let ingredientEntry = '{{ form.ingredients[0].ingredient(class="form-control form-control-lg") }}';
                ingredientCount += 1;
                ingredientEntry = ingredientEntry.replace(/ingredients-0-ingredient/g, 'ingredients-' + ingredientCount + '-ingredient');
                ingredientList.append(ingredientEntry + '<br>');
            });
            // Add Instruction
            const initialInstructionCount = $("#instruction-list").data("initial-count");
            let instructionCount = initialInstructionCount;
            const initialStepsCount = $("#steps").data("step-count")
            let stepCount = initialInstructionCount;
            $("#add-instruction-btn").click(function () {
                const instructionList = $("#instruction-list");
                let instructionEntry = '<textarea class="form-control form-control-lg" id="instructions-0-instruction" name="instructions-0-instruction" required></textarea>';
                instructionCount += 1;
                stepCount += 1;
                instructionEntry = instructionEntry.replace(/instructions-0-instruction/g, 'instructions-' + instructionCount + '-instruction');
                instructionList.append("<h6>Step " + stepCount + "</h6>");
                instructionList.append(instructionEntry + '<br>');
            });
        });
    </script>
</div>
{% endblock content %}
