{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <!-- Title -->
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <!-- Descripton -->
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div><hr>
            <!-- Ingredients -->
            <div class="form-group">
                {{ form.ingredients.label(class="form-control-label") }}
                <div id="ingredient-list" data-initial-count="{{ form.ingredients | length }}">
                    {% for ingredient in form.ingredients %}
                        <input class="form-control form-control-lg"
                        id="ingredients-{{ loop.index0 }}-ingredient"
                        name="ingredients-{{ loop.index0 }}-ingredient"
                        required
                        type="text"
                        {% if ingredient.form.ingredient.data %}
                            value="{{ ingredient.form.ingredient.data }}"
                        {% endif %}><br>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-outline-info" id="add-ingredient-btn">Add Ingredient</button>
            <button type="button" class="btn btn-outline-danger" id="remove-ingredient-btn">Remove Ingredient</button>
            <hr>
            <!-- Instructions -->
            <div class="form-group">
                {{ form.instructions.label(class="form-control-label") }}
                <div id="instruction-list" data-initial-count="{{ form.instructions | length }}" >
                    {% for instruction in form.instructions %}
                        <h6 id="steps-{{ loop.index0 + 1 }}">Step {{ loop.index0 + 1 }}</h6>
                        <textarea class="form-control form-control-lg"
                        id="instructions-{{ loop.index0 }}-instruction"
                        name="instructions-{{ loop.index0 }}-instruction"
                        required
                        type="text">{% if instruction.form.instruction.data %}{{ instruction.form.instruction.data }}{% endif %}</textarea><br>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="btn btn-outline-info" id="add-instruction-btn">Add Instruction</button>
            <button type="button" class="btn btn-outline-danger" id="remove-instruction-btn">Remove Instruction</button><hr>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-success")}}
        </div>
    </form>
    <style>
        #remove-ingredient-btn {
            display: none;
        }
        #remove-instruction-btn {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            const initialIngredientCount = $("#ingredient-list").data("initial-count");
            const ingredientList = $("#ingredient-list");
            let ingredientCount = initialIngredientCount;
            // Add Ingredient
            if (ingredientCount > 2) {
                $("#remove-ingredient-btn").show();
            }
            $("#add-ingredient-btn").click(function () {
                ingredientCount += 1;
                let ingredientEntry = `<input class="form-control form-control-lg"
                                        id="ingredients-${ingredientCount - 1}-ingredient"
                                        name="ingredients-${ingredientCount - 1}-ingredient" required type="text" value><br>`;
                ingredientList.append(ingredientEntry);
                console.log(ingredientCount);
                // show the remove button if the ingredients are above 3
                if (ingredientCount > 2) {
                    $("#remove-ingredient-btn").show();
                }
            });
            // Remove Ingredient
            $("#remove-ingredient-btn").click(function () {
                // Check if there are ingredients to remove
                if (ingredientCount > 2) {
                    console.log(ingredientCount);
                    $(`#ingredients-${ingredientCount - 1}-ingredient, #ingredients-${ingredientCount - 1}-ingredient + br`).remove();
                    ingredientCount -= 1;
                }
                // hide the remove button if the ingredients are less or equal 3
                if (ingredientCount <= 2) {
                $("#remove-ingredient-btn").hide();
                }
            });
            // Add Instruction
            const instructionList = $("#instruction-list");
            let instructionCount = $("#instruction-list").data("initial-count");
            let stepCount = $("#instruction-list").data("initial-count");
            if (instructionCount > 2) {
                $("#remove-instruction-btn").show();
            }
            $("#add-instruction-btn").click(function () {
                instructionCount += 1;
                stepCount += 1;
                const instructionEntry = `<h6 id="steps-${stepCount}">Step ${stepCount}</h6>
                                          <textarea class="form-control form-control-lg"
                                          id="instructions-${instructionCount - 1}-instruction"
                                          name="instructions-${instructionCount - 1}-instruction" required></textarea><br>`;
                instructionList.append(instructionEntry);
                console.log(stepCount);
                // show the remove button if the instructions are above 2
                if (instructionCount > 2) {
                    $("#remove-instruction-btn").show();
                }
            });
            // Remove Instruction
            $("#remove-instruction-btn").click(function () {
                // Check if there are instructions to remove
                if (instructionCount > 1) {
                    $(`#steps-${stepCount}`).remove()
                    $(`#instructions-${instructionCount - 1}-instruction, #instructions-${instructionCount - 1}-instruction + br`).remove();
                    console.log(stepCount);
                    instructionCount -= 1;
                    stepCount -= 1;
                }
                // hide the remove button if the instructions are less or equal 2
                if (instructionCount <= 2) {
                    $("#remove-instruction-btn").hide();
                }
            });
        });
    </script>
</div>
{% endblock content %}
