{% extends "layout.html" %}
{% block content %}
    <div class="feed-center_all">
        <div class="feed-center">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <article class="media content-section">
                <div class="media-body">
                    <a href="{{ url_for('user_recipes', username=recipe.user.username) }}">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + recipe.user.image_file) }}">
                    </a>
                    <div class="article-metadata">
                        <div class="name-date">
                            <a class="mr-2" href="{{ url_for('user_recipes', username=recipe.user.username) }}">{{ recipe.user.username }}</a>
                            <small class="text-muted">{{ recipe.created_at.strftime('%Y-%m-%d') }}</small>
                        </div>
                        {% if recipe.user == current_user %}
                            <div class="delete-update">
                                <a class="update-btn" href="{{ url_for('update_recipe', recipe_id=recipe.id )}}">Update</a>
                                <a class="delete-btn" href="{{ url_for('delete_recipe', recipe_id=recipe.id )}}">Delete</a>
                            </div>
                        {% endif %} 
                    </div>
                </div>
                <div class="title-description">
                    <!-- Recipe Title -->
                    <a class="article-title" href="{{ url_for('recipe', recipe_id=recipe.id) }}"><h2 class="main-dish">{{ recipe.title }}</h2></a>
                    <!-- Recipe description -->
                    <p class="article-content">{{ recipe.description }}
                    </p>
                    <!-- Recipe image -->
                    {% if recipe.image_file %}
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
                        <img class="feed-img" src="{{ url_for('static', filename='images/' + recipe.image_file) }}">
                    </a>
                    {% endif %}
                    <div class="ing-inst">
                        <!-- Ingredients -->
                        <h3>Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient.name }}</li>
                            {% endfor %}
                        </ul>
                        <!-- Intrustions -->
                        <h3>Instructions</h3>
                        <ol>
                            {% for instruction in recipe.instructions %}
                            <h4>Step {{ loop.index0 + 1 }}</h4>
                                <li>{{ instruction.text }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock content %}