{% extends "layout.html" %}
{% block content %}
    <div class="feed-center_all">
        <div class="feed-center">
            <article class="media content-section">
                <div class="media-body">
                    <a href="{{ url_for('user_recipes', username=recipe.user.username) }}">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + recipe.user.image_file) }}">
                    </a>
                    <div class="article-metadata">
                        <div class="name-date">
                            <a class="mr-2" href="{{ url_for('user_recipes', username=recipe.user.username) }}">{{ recipe.user.username }}</a>
                            <small class="text-muted">{{ recipe.created_at.strftime('%Y-%m-%d') }}</small>
                        </div>
                        {% if recipe.user == current_user %}
                            <div class="delete-update">
                                <a class="update-btn" href="{{ url_for('update_recipe', recipe_id=recipe.id )}}">Update</a>
                                <a class="delete-btn" href="{{ url_for('delete_recipe', recipe_id=recipe.id )}}">Delete</a>
                            </div>
                        {% endif %} 
                    </div>
                </div>
                <div class="title-description">
                    <!-- Recipe Title -->
                    <a class="article-title" href="{{ url_for('recipe', recipe_id=recipe.id) }}"><h2 class="main-dish">{{ recipe.title }}</h2></a>
                    <!-- Recipe description -->
                    <p class="article-content">{{ recipe.description }}
                    </p>
                    <!-- Recipe image -->
                    {% if recipe.image_file %}
                    <a href="{{ url_for('recipe', recipe_id=recipe.id) }}">
                        <img class="feed-img" src="{{ url_for('static', filename='images/' + recipe.image_file) }}">
                    </a>
                    {% endif %}
                    <div class="ing-inst">
                        <!-- Ingredients -->
                        <h3>Ingredients</h3>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient.name }}</li>
                            {% endfor %}
                        </ul>
                        <!-- Intrustions -->
                        <h3>Instructions</h3>
                        <ol>
                            {% for instruction in recipe.instructions %}
                            <h4>Step {{ loop.index0 + 1 }}</h4>
                                <li>{{ instruction.text }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- Modal -->
    <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div> -->
{% endblock content %}