{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Recipes by {{ user.username }} ({{ recipes.total }})</h1>
    {% for recipe in recipes.items %}
    <article class="media content-section">
        <a href="{{ url_for('user_recipes', username=recipe.user.username) }}">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/' + recipe.user.image_file) }}">
        </a>
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('user_recipes', username=recipe.user.username) }}">{{ recipe.user.username }}</a>
            <small class="text-muted">{{ recipe.created_at.strftime('%Y-%m-%d') }}</small>
        </div>
            <h2><a class="article-title" href="{{ url_for('recipe', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
            <p class="article-content">{{ recipe.description }}</p>
            <h6>Ingredients:</h6>
            <ul>
                {% for ingredient in recipe.ingredients | sort(attribute='order') %}
                <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
            <h6>Instructions:</h6>
            <ol>
                {% for instruction in recipe.instructions | sort(attribute='step') %}
                <li>{{ instruction.text }}</li>
                {% endfor %}
            </ol>
        </div>
    </article>
    {% endfor %}
    <!-- left_edge=1, right_edge=1, left_current=1, right_current=2 -->
    <!-- Recipe Feed buttom Pages -->
    {% for page_num in recipes.iter_pages() %}
        {% if page_num %}
            {% if recipes.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('user_recipes',  username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('user_recipes', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock content %}